body {
    /* background-image: url(/src/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    background: url(./src/assets/bg-mobile.jpg) no-repeat top center/cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #fffff4;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


#profile img {
    display: block;
    width: 112px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    padding-top: 8px;
}

#listlinks{
    list-style: none;
}

#links {
    display: flex;
    width: 360px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

#buttonslink {
    display: flex;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 25px;

    border-radius: 8px;
    border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.50));
    background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(4px);
}